.attr-line {
  display: flex;
  align-items: center;

  .attr-line-name {
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lock {
    flex-grow: 0;
    flex-shrink: 0;
    pointer-events: none;
    opacity: 0;
    margin-right: 0.3rem;
  }

  .attr-line-content {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  &.readonly {
    .lock {
      opacity: 0.5;
    }

    .attr-line-content {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.attr-line-number {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .attr-line-number-slider {
    min-width: 5rem;
    flex: 1;
  }

  .attr-line-number-input {
    flex: 1;
  }
}

.attr-line-value-type {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  & > .attr-line {
    width: calc(50% - 0.5rem);
    align-items: center;
    gap: 0.2rem;

    .attr-line-name,
    .lock {
      display: none;
    }
  }

  &.single {
    & > .attr-line {
      width: 100%;
    }
  }

  &.triple {
    & > .attr-line {
      width: calc(33.3% - 0.5rem);
    }
  }
}

.attr-line-enum {
  width: 100%;
}
